@page
@model Dogs1.Pages.Dog.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dogs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dogs.DSL" class="control-label"></label>
                <input asp-for="Dogs.DSL" class="form-control" />
                <span asp-validation-for="Dogs.DSL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dogs.DSN" class="control-label"></label>
                <input asp-for="Dogs.DSN" class="form-control" />
                <span asp-validation-for="Dogs.DSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dogs.PSID" class="control-label"></label>
                <select asp-for="Dogs.PSID" class ="form-control" asp-items="ViewBag.PSID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
